{
  "openapi": "3.1.0",
  "info": {
    "title": "Paramify REST API Documentation",
    "version": "0.6.0",
    "description": "This is the REST API documentation for the Paramify application."
  },
  "servers": [
    {
      "url": "https://app.paramify.com/api/v0",
      "description": "The production server for the Paramify application."
    }
  ],
  "security": [
    {
      "authorization": [],
      "apiKey_DEPRECATED": []
    }
  ],
  "paths": {
    "/projects": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjects",
        "summary": "Get all projects accessible to the api key.",
        "description": "Returns all projects accessible to the api key. These are referred to as `Programs` in the Paramify application.The `id` value of any of the projects listed is referred to as the `projectId` query parameter in other routes or request bodies.",
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "A uuid that uniquely identifies an individual project within Paramify",
                            "example": "123e4567-e89b-12d3-a456-426614174000"
                          },
                          "type": {
                            "anyOf": [
                              {
                                "type": "string",
                                "enum": [
                                  "FEDRAMP_REV_4",
                                  "FEDRAMP_REV_5",
                                  "FEDRAMP_20x_P1",
                                  "FEDRAMP_20x_P2",
                                  "DOD_ADDENDUM_REV_4",
                                  "DOD_REV_5",
                                  "DOD_ADDENDUM_REV_5",
                                  "STATERAMP",
                                  "TXRAMP",
                                  "CMMC_REV_2",
                                  "ADOBE_CCF_V5",
                                  "FISMA"
                                ]
                              },
                              {
                                "type": "string",
                                "const": "CUSTOM"
                              }
                            ],
                            "description": "The type of project",
                            "example": "FEDRAMP_REV_5"
                          },
                          "name": {
                            "type": "string",
                            "description": "The name of the project",
                            "example": "FedRAMP Rev 5"
                          },
                          "programImpactLevels": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "programImpactLevel": {
                                  "type": "string",
                                  "enum": [
                                    "CMMC_LEVEL_1",
                                    "CMMC_LEVEL_2",
                                    "CMMC_LEVEL_3",
                                    "LI_SAAS",
                                    "LOW",
                                    "MODERATE",
                                    "HIGH",
                                    "LOW_SR",
                                    "MODERATE_SR",
                                    "TX_LEVEL_1",
                                    "TX_LEVEL_2",
                                    "IL2_ADDENDUM",
                                    "IL4_ADDENDUM",
                                    "IL5_ADDENDUM",
                                    "IL6_ADDENDUM",
                                    "IL2",
                                    "IL4_FEDRAMP_MODERATE",
                                    "IL4_FEDRAMP_HIGH",
                                    "IL5",
                                    "IL6",
                                    "SOC_2_C",
                                    "SOC_2_CC",
                                    "SOC_2_A",
                                    "FISMA_LOW",
                                    "FISMA_MODERATE",
                                    "FISMA_HIGH",
                                    "FEDRAMP_20x_P1_LOW",
                                    "FEDRAMP_20x_P2_LOW",
                                    "FEDRAMP_20x_P2_MODERATE",
                                    "FEDRAMP_20x_P2_HIGH"
                                  ]
                                },
                                "remarks": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "programImpactLevel",
                                "remarks"
                              ],
                              "additionalProperties": false
                            },
                            "example": [
                              {
                                "programImpactLevel": "SOC_2_A",
                                "remarks": "Low impact"
                              },
                              {
                                "programImpactLevel": "SOC_2_C",
                                "remarks": null
                              }
                            ],
                            "description": "The impact levels of the project"
                          },
                          "systemName": {
                            "type": "string"
                          },
                          "systemShortName": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "id",
                          "type",
                          "name",
                          "programImpactLevels",
                          "systemName",
                          "systemShortName"
                        ],
                        "additionalProperties": false,
                        "description": "An object containing information about projects accessible to the API key.",
                        "ref": "ProjectResponseObject"
                      }
                    }
                  },
                  "required": [
                    "projects"
                  ],
                  "additionalProperties": false
                }
              }
            },
            "links": {
              "getProjects": {
                "$ref": "#/components/links/getProjects"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}": {
      "get": {
        "tags": [
          "Projects (\"Programs\" in the Paramify application)"
        ],
        "operationId": "getProjectById",
        "summary": "Get the project specified by the projectId.",
        "description": "Returns the project specified by the `projectId` query parameter and accessible to the api key. A project is called a `Program` in the Paramify application.The `id` value of the project returned can be used as the `projectId` parameter in other routes or request bodies.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "An id that represents a project within the Paramify application.",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "ref": "projectId"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual project within Paramify",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "type": {
                      "anyOf": [
                        {
                          "type": "string",
                          "enum": [
                            "FEDRAMP_REV_4",
                            "FEDRAMP_REV_5",
                            "FEDRAMP_20x_P1",
                            "FEDRAMP_20x_P2",
                            "DOD_ADDENDUM_REV_4",
                            "DOD_REV_5",
                            "DOD_ADDENDUM_REV_5",
                            "STATERAMP",
                            "TXRAMP",
                            "CMMC_REV_2",
                            "ADOBE_CCF_V5",
                            "FISMA"
                          ]
                        },
                        {
                          "type": "string",
                          "const": "CUSTOM"
                        }
                      ],
                      "description": "The type of project",
                      "example": "FEDRAMP_REV_5"
                    },
                    "name": {
                      "type": "string",
                      "description": "The name of the project",
                      "example": "FedRAMP Rev 5"
                    },
                    "programImpactLevels": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "programImpactLevel": {
                            "type": "string",
                            "enum": [
                              "CMMC_LEVEL_1",
                              "CMMC_LEVEL_2",
                              "CMMC_LEVEL_3",
                              "LI_SAAS",
                              "LOW",
                              "MODERATE",
                              "HIGH",
                              "LOW_SR",
                              "MODERATE_SR",
                              "TX_LEVEL_1",
                              "TX_LEVEL_2",
                              "IL2_ADDENDUM",
                              "IL4_ADDENDUM",
                              "IL5_ADDENDUM",
                              "IL6_ADDENDUM",
                              "IL2",
                              "IL4_FEDRAMP_MODERATE",
                              "IL4_FEDRAMP_HIGH",
                              "IL5",
                              "IL6",
                              "SOC_2_C",
                              "SOC_2_CC",
                              "SOC_2_A",
                              "FISMA_LOW",
                              "FISMA_MODERATE",
                              "FISMA_HIGH",
                              "FEDRAMP_20x_P1_LOW",
                              "FEDRAMP_20x_P2_LOW",
                              "FEDRAMP_20x_P2_MODERATE",
                              "FEDRAMP_20x_P2_HIGH"
                            ]
                          },
                          "remarks": {
                            "anyOf": [
                              {
                                "type": "string"
                              },
                              {
                                "type": "null"
                              }
                            ]
                          }
                        },
                        "required": [
                          "programImpactLevel",
                          "remarks"
                        ],
                        "additionalProperties": false
                      },
                      "example": [
                        {
                          "programImpactLevel": "SOC_2_A",
                          "remarks": "Low impact"
                        },
                        {
                          "programImpactLevel": "SOC_2_C",
                          "remarks": null
                        }
                      ],
                      "description": "The impact levels of the project"
                    },
                    "systemName": {
                      "type": "string"
                    },
                    "systemShortName": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "id",
                    "type",
                    "name",
                    "programImpactLevels",
                    "systemName",
                    "systemShortName"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about projects accessible to the API key.",
                  "ref": "ProjectResponseObject"
                }
              }
            },
            "links": {
              "getProjectById": {
                "$ref": "#/components/links/getProjectById"
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          }
        }
      }
    },
    "/projects/{projectId}/control-implementations": {
      "get": {
        "tags": [
          "Project Control Implementations"
        ],
        "operationId": "getProjectControlImplementations",
        "summary": "Get all control implementations for a project",
        "description": "Retrieves all control implementations associated with the specified project.",
        "parameters": [
          {
            "in": "path",
            "name": "projectId",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
              "description": "An id that represents a project within the Paramify application.",
              "example": "123e4567-e89b-12d3-a456-426614174000",
              "ref": "projectId"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "200 Ok",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "controlImplementations": {
                      "type": "array",
                      "items": {
                        "effectType": "output",
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid",
                            "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                            "description": "A uuid that uniquely identifies an individual element within Paramify",
                            "example": "e3977e3e-0b77-4e78-81de-f90e3e37e43c"
                          },
                          "name": {
                            "type": "string",
                            "description": "The full name of the control implementation",
                            "example": "AC-1 Part a1"
                          },
                          "control": {
                            "type": "string",
                            "description": "The name of the control",
                            "example": "AC-1"
                          },
                          "requirement": {
                            "type": "string",
                            "description": "The name of the requirement",
                            "example": "Part a1"
                          }
                        },
                        "required": [
                          "id",
                          "name",
                          "control",
                          "requirement"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "controlImplementations"
                  ],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
                              },
                              "expected": {
                                "description": "The expected value of the request that caused the error.",
                                "example": "string"
                              },
                              "received": {
                                "description": "The received value of the request that caused the error.",
                                "example": "undefined"
                              }
                            },
                            "required": [
                              "path"
                            ],
                            "additionalProperties": false
                          }
                        }
                      },
                      "required": [
                        "message",
                        "path",
                        "timestamp"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "requestId",
                    "statusMessage",
                    "error"
                  ],
                  "additionalProperties": false,
                  "description": "An object containing information about an API error.",
                  "ref": "ErrorResponseObject"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "requestId": {
                      "type": "string",
                      "format": "uuid",
                      "pattern": "^([0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-8][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}|00000000-0000-0000-0000-000000000000|ffffffff-ffff-ffff-ffff-ffffffffffff)$",
                      "description": "A uuid that uniquely identifies an individual API request.",
                      "example": "123e4567-e89b-12d3-a456-426614174000"
                    },
                    "statusMessage": {
                      "type": "string",
                      "description": "A message describing the returned status."
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "message": {
                          "type": "string",
                          "description": "An error message providing additional information about the error"
                        },
                        "path": {
                          "type": "string",
                          "description": "The path of the request that caused the error."
                        },
                        "timestamp": {
                          "type": "string",
                          "format": "date-time",
                          "pattern": "^(?:(?:\\d\\d[2468][048]|\\d\\d[13579][26]|\\d\\d0[48]|[02468][048]00|[13579][26]00)-02-29|\\d{4}-(?:(?:0[13578]|1[02])-(?:0[1-9]|[12]\\d|3[01])|(?:0[469]|11)-(?:0[1-9]|[12]\\d|30)|(?:02)-(?:0[1-9]|1\\d|2[0-8])))T(?:(?:[01]\\d|2[0-3]):[0-5]\\d(?::[0-5]\\d(?:\\.\\d+)?)?(?:Z))$",
                          "description": "The date and time the error occurred as an ISO string.",
                          "example": "1955-10-05T00:00:00.000Z"
                        },
                        "errorDetails": {
                          "description": "An array of error details.",
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "path": {
                                "type": "array",
                                "items": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number"
                                    }
                                  ]
                                },
                                "description": "The path of the request that caused the error.",
                                "example": [
                                  "foo",
                                  0,
                                  "bar"
                                ]
                              },
                              "message": {
                                "description": "An error message providing additional information about the error",
                                "example": "Required",
                                "type": "string"
[...]
